$panel-color: rgba(184,184,184,0.2);
ul,ol {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.layout {
  margin-top: 40px;
  .content {
    //border: 1px solid red;
    //display: flex;
    width: 800px;
    //height: 397px;
    margin: 0 auto;
    //justify-content: space-around;
    .panel {
      border: 1px solid #cccccc;
      float: left;
      text-align: center;
      width: 30%;

    }
    .list {
      border: 1px solid #ccc;
      border-left: none;
      width: 70%;
      margin-left: 30%;
    }
  }
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
.info {
  padding: 20px 10px;
  background-color: $panel-color;
  //border: 1px solid green;
}
.title {
  font-weight: bold;
}
.author {
  font-size: 14px;
  color: #b8b8b8;
  margin-top: 10px;
  //outline: 1px solid red;
}

.image {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  //border: 1px solid red;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 1px #000, -1px -1px 2px #000;
  background-position: center;
}
.control {
  //border: 1px solid red;
  padding: 20px 10px;
  background-color: $panel-color;
  span>i {
    //background-color: aquamarine;
    font-size: 25px;
    margin: 0 5px;
  }
}

.bar {
  border-bottom: 2px solid #ccc;
}

.list {
  background-color: $panel-color;
  border: 1px solid #ccc;
  li {
    //outline: 1px solid red;
    line-height: 30px;
    height: 42px;
    padding: 6px 20px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
      margin-right: 10px;
    }

  }
  li:nth-child(even){
    background-color: #fff;
  }

}